/* For use in src/lib/core/theming/_palette.scss */
$mat-blue: (
  50 : #e0eef7,
  100 : #b3d4eb,
  200 : #80b8dd,
  300 : #4d9ccf,
  400 : #2686c5,
  500 : #0071bb,
  600 : #0069b5,
  700 : #005eac,
  800 : #0054a4,
  900 : #004296,
  A100 : #c1d8ff,
  A200 : #8eb7ff,
  A400 : #5b97ff,
  A700 : #4187ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-yellow: (
  50 : #fff8e2,
  100 : #ffedb6,
  200 : #ffe186,
  300 : #ffd555,
  400 : #ffcc30,
  500 : #ffc30c,
  600 : #ffbd0a,
  700 : #ffb508,
  800 : #ffae06,
  900 : #ffa103,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe5bf,
  A700 : #ffdaa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-red: (
  50 : #fce3ea,
  100 : #f7b9c9,
  200 : #f28aa6,
  300 : #ec5b82,
  400 : #e83867,
  500 : #e4154c,
  600 : #e11245,
  700 : #dd0f3c,
  800 : #d90c33,
  900 : #d10624,
  A100 : #fffafb,
  A200 : #ffc7cd,
  A400 : #ff949f,
  A700 : #ff7b88,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-green: (
  50 : #eef6e8,
  100 : #d4e7c5,
  200 : #b8d89e,
  300 : #9cc877,
  400 : #86bc59,
  500 : #71b03c,
  600 : #69a936,
  700 : #5ea02e,
  800 : #549727,
  900 : #42871a,
  A100 : #d5ffbf,
  A200 : #b3ff8c,
  A400 : #91ff59,
  A700 : #80ff40,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-purple: (
  50 : #f3e3ee,
  100 : #e1b9d4,
  200 : #cd8bb7,
  300 : #b85c9a,
  400 : #a93985,
  500 : #9a166f,
  600 : #921367,
  700 : #88105c,
  800 : #7e0c52,
  900 : #6c0640,
  A100 : #ff9dcf,
  A200 : #ff6ab6,
  A400 : #ff379d,
  A700 : #ff1d90,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

